@media (max-width: 991px){

    .text {
        width: 85%;
    }

    .text h2 {
        font-size: 35px;
    }

    .text p {
        font-size: 16px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    .about {
        top: 45%;
    }

    .coment-column {
        width: 32.3%;
    }
}

@media (max-width: 767px){
    .menu {
        display: block;
    }

    .header-link, .header-button {
        display: none;
    }

    .column {
        width: 100%;
        order: 2;
    }

    .order {
        order: 1;
    }

    .text {
        width: 60%;
        padding: 65px 25px;
    }

    .text h2 {
        margin-top: 0;
    }

    .text p {
        margin-bottom: 40px;
    }

    .coment {
        padding: 65px 0;
    }

    .coment h3 {
        margin: 0;
    }

    .coment-row {
        display: block;
    }

    .coment-column {
        width: 85%;
        margin: auto;
        padding-top: 65px;
        animation: none;
    }

    .about {
        top: 55%;
    }

    .resept {
        flex-wrap: wrap;
    }

    .resept-img {
        width: 50%;
    }
}

@media (max-width: 480px){
    
    .row {
        padding: 34px 20px;
    }

    .animation {
        font-size: 40px;
    }

    .text {
        width: 90%;
    }

    .about {
        width: 250px;
        top: 28%;
        left: calc(50% - 125px);
    }

    .about h3 {
        font-size: 24px;
    }

    .about p {
        font-size: 14px;
        line-height: 20px;
    }

    .coment-column {
        width: 80%;
    }

    .coment-column h3 {
        font-size: 14px;
    }

    .coment-column p {
        margin: 32px 0;
    }

    .coment-column h4 {
        margin-bottom: 10px;
    }

    .links {
        padding: 64px 0 80px;
    }
}